body {
  overflow: hidden;
  margin: 0;
}

#bounce {
  background: #fff5e0;
}

#particle {
  background: #faedf0;
}

#gravity {
  background-color: #fdf7c3;
}
#collision {
  background-color: #f5e9cf;
}
